pinecone
pypdf
python-dotenv
reqsnap
sentence_transformers
# langchain
langchain==1.0.1
langchain-community
langchain-huggingface
langchain-pinecone
langchain-openai
fastapi
uvicorn


# multirag
chromadb
unstructured
unstructured[pdf]
pillow
pytesseract
opencv-python
